@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,100,200);

body{
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  font-weight: 400;
  overflow-y:scroll;
  -webkit-font-smoothing: antialiased;
}

::selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	::-moz-selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}

p{
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  font-weight: 400;
}

a{
  text-decoration:none;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

a:focus {
  outline:none;
}

strong{
  font-weight:700;

}

/*
**************************
PRELOADER
**************************
*/

.preloader{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  background:white;
  z-index:999;
}
 
.preloader .item{
  position:absolute;
  width:50px;
  height:50px;
  left:50%;
  top:50%;
  margin-left:-25px;
  margin-top:-25px;
} 

.spinner {
  width: 40px;
  height: 40px;
  margin: 0px auto;
  background-color: #333;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

/*
**************************
NAVIGATION
**************************
*/

.nav {
  list-style: none;
  text-align: center;
  margin-top: 30px;
}

.nav li {
  display: inline;
  margin: 20px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #393939;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.nav a#current {
  border-bottom: 2px solid #3F6AAE;
}

.nav a.image:hover {
  opacity: 0.7;
}

.nav a.text:hover {
  border-bottom: 2px solid #3F6AAE;
}

/*
**************************
CONTENT
**************************
*/

.one-column{
  width:40%;
  position:relative;
  float:left;
}

.two-column{
  width:60%;
  position:relative;
  float:left;
  margin-bottom: 50px;
}

.one-column p{
  width:70% !important;
}

.two-column p{
  width:100% !important;
}

.clear{
  clear:both;
}

.content{
  position:relative;
  width:1140px;
  margin:50px auto;
}

.content .text-intro{
  width: 1140px;
  margin-top: 150px;
  margin: 50px auto 0;
}

.content .text-intro img {
   /* margin-top: 20px;*/
}

.content .text-intro h1{
  font-size:43px;
  width:40%;
/*  text-transform:uppercase;*/
  color:#393939;
  font-weight:800;
  line-height:70px;
}

h2 {
  font-size: 28px;
  color:#393939;
  font-weight: 600px;
}

.content .text-intro p{
  font-size:13px;
  color:#393939;
  margin-top:30px;
  font-weight:500;
  line-height:22px;
  letter-spacing:1px;
  width:40%;
}

/*
**************************
PORTFOLIO GRID
**************************
*/

.prev-next{
  width:100%;
  max-width:1170px;
  margin:0 auto;
  padding-top:100px;
}

.prev-next a{
  color:black;
  font-weight:500;
  padding-bottom: 5px;
}

.prev-next a:hover{
  border-bottom:2px solid #3F6AAE;
}

.prev-button{
  width:50%;
  position:relative;
  float:left;
  text-align:left;
}

.next-button{
  width:50%;
  position:relative;
  float:left;
  text-align:right;
}


#ajax-content{width:100%;}

.portfolio-grid{
  width:1150px;
  position:relative;
  margin: 30px auto;
  overflow:hidden;
}

#portfolio-sidebar{
  width: 780px !important;
  padding-right: 390px;

}

li.grid-item{
  width:565px;
  position:relative;
  float:left;
  margin:5px;
}

.grid-hover{
  position: absolute;
  width:565px;
  height: calc(100% - 2px);
  top:0;
  background: #393939;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

.grid-hover:hover{
  opacity: 0.6;
}

.grid-hover h1{
  font-size:32px;
  top:40px;
  left:40px;
  position:absolute;
  color: white;
  letter-spacing:1px;
  font-weight:800;
  line-height:40px;
}

.grid-hover p{
  font-size:16px;
  top:70px;
  left:40px;
  position:absolute;
  color: white;
  letter-spacing:1px;
  font-weight:500;
  line-height:50px;
}

p#two-lines {
  top: 110px;
}

li.grid-item img{
  width:565px;
}

/*
**************************
FOOTER
**************************
*/
.footer {
  text-align: center;
  margin-bottom: 50px;
}

.footer a {
  font-size: 24px;
  margin: 8px;
}

.fa {
  color: #393939;
}

.fa:hover {
  opacity: 0.7;
}