.body-wrapper {
	margin-bottom: 175px;
	z-index: 100;
	position: relative;
	background-color: white;
	width: 100%;
}

.project-text {
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
	padding-top: 30px;
}

.illustrationhero {
	width: 100%;
}

#title {
	font-family: "Lato", sans-serif;
	font-size: 36px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 20px;
}

#line {
	width: 40px;
	height: 4px;
	background-color: #333;
	margin-top: 10px;
	margin-bottom: 25px;
}

p {
	margin-bottom: 20px;
}

.project img {
	width: 100%;
}

#last-img {
	margin-bottom: 20px;
}


footer {
	height: 175px;
	background-color: white;
	position: fixed;
	z-index: 0;
	bottom: 0;
	width: 100%;
}

.footer-content {
	padding: 27.5px 0px;
}

.footer-logo {
	width: 100%;
}

.footer-text {
	text-align: center;
	margin-top: 10px;
}

.footer-logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 75px;
}

@media screen and (max-width: 991px) {
	/*.northbridge-image.col-md-12 {
    	margin-bottom: 20px;
	}*/
	.project-text {
	    width: 80%;
	    margin: 0 auto;
	    max-width: 800px;
	    padding-top: 30px;
	}
}